* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #6fddff;
}

/* Home Page */

/* Navbar */

.dropdown-menu {
  background-color: #31bee9;
}

.dropdown-item:focus,
.dropdown-item:hover {
  background-color: #6fddff;
}

.contact-btn {
  background-color: #31bee9;
}

/* Footer */
footer {
  background-color: #31bee9;
}

footer .navbar-brand {
  margin-right: 0;
}

ul.social-icons {
  margin-bottom: 0;
  padding-bottom: 5px;
}

.social-icons i {
  padding-left: 15px;
  padding-right: 15px;
}

.social-icons li {
  display: inline;
}

/* small screen */
.copyright p {
  margin-bottom: 0;
  padding-bottom: 10px;
}

@media screen and (min-width: 576px) {
  footer .navbar-brand {
    padding-top: 10px;
    padding-left: 30px;
    padding-bottom: 0;
  }

  ul.social-icons {
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 0;
  }

  .social-icons i {
    font-size: 150%;
  }
}

/* Hero Image */
/* mobile screen */
#hero-image {
  /* Photo by Asad Photo Maldives from Pexels */
  background-image: url("../images/hero-image-small.jpg");
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  background-attachment: fixed;
  background-position: center;
}

/* Medium screen and up */
@media screen and (min-width: 769px) {

  /* Photo by <a href="https://unsplash.com/@imagefactory?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Colin Watts</a> on <a href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> */
  #hero-image {
    background-image: url("../images/hero-image.jpg");
  }
}

/* Introduction */

#intro {
  background-color: #31bee9;
}

.cta-heading {
  padding-top: 60px;
  padding-bottom: 30px;
}

.cta-text {
  margin: 0 auto;
  padding-bottom: 60px;
  width: 80%;
}

/* Home Activities */

/* https://www.pexels.com/photo/person-surfing-416676/ */
#surfing {
  background-image: url("../images/surfing.jpg");
  align-items: center;
  display: flex;
  height: 300px;
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

/* Photo by Tom Fisk from Pexels */
#snorkeling {
  background-image: url("../images/snorkeling.jpg");
  align-items: center;
  display: flex;
  height: 300px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

/* Image by <a href="https://pixabay.com/users/stepat-984556/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=806359">Steven Leeuw</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=806359">Pixabay</a> */
#dolphins {
  background-image: url("../images/dolphins.jpg");
  align-items: center;
  display: flex;
  height: 300px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

/* Photo by APG Graphics from Pexels */
#kite-surfing {
  background-image: url("../images/kite-surfing.jpg");
  align-items: center;
  display: flex;
  height: 300px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

/* Photo by <a href="https://freeimages.com/photographer/hamletnc-34522">Rick Hawkins</a> from <a href="https://freeimages.com">FreeImages</a> */
#scuba-diving {
  background-image: url("../images/scuba-diving.jpg");
  align-items: center;
  display: flex;
  height: 300px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.activity-icons {
  width: 60px;
}

section#home-activities a {
  position: relative;
}

/* Activities Page */
/* Activity Button Group */
.activity-buttons .btn-group .btn {
  background-color: #31bee9;
}

.activity-buttons .btn-group .btn:hover {
  background-color: #6fddff;
}

#hero-image.activity-page {
  align-items: flex-start;
  display: unset;
}

/* Activity Images */
#activity-image {
  /* <!-- Image by <a href="https://pixabay.com/users/pexels-2286921/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1837030">Pexels</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1837030">Pixabay</a> --> */
  background-image: url("../images/activity-images/surfing-activity.jpg");
  align-items: center;
  display: flex;
  height: 250px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

/* Map */
#map {
  width: auto;
  height: 600px;
  background-color: wheat;
}

#map-info-1 {
  width: auto;
  height: 200px;
  background-color:mediumseagreen;
}

#map-info-2 {
  width: auto;
  height: 200px;
  background-color: mediumorchid;
}

#map-info-3 {
  width: auto;
  height: 200px;
  background-color:mediumslateblue;
}


/* arial view of surfers */
/* Photo by Jess Vide from Pexels */

/* turtle image credit */
/* Image by <a href="https://pixabay.com/users/marcellorabozzi-2003568/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1446738">Marcello Rabozzi</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1446738">Pixabay</a> */